{% extends 'base.html' %}
{% load static %}
{% load ratings %}
{% block title %}
    Products List
{% endblock %}

{% block content %}
    <!-- Breadcrumb Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <a class="breadcrumb-item text-dark" href="/">Home</a>
                    <a class="breadcrumb-item text-dark" href="">Products List</a>
                </nav>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->


    <!-- Shop Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <!-- Shop Sidebar Start -->
            <div class="col-lg-3 col-md-4">
                <!-- Price Start -->
                <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Filter by price</span>
                </h5>
                <div class="bg-light p-4 mb-30">
                    <form>
                        <div class="d-flex align-items-center justify-content-between mb-3">
                            <label for="min-price-filter">Min</label>
                            <input type="number" id="min-price-filter" name="min_price" class="form-control mx-3">
                        </div>
                        <div class="d-flex align-items-center justify-content-between mb-3">
                            <label for="max-price-filter">Max</label>
                            <input type="number" id="max-price-filter" name="max_price" class="form-control mx-3">
                        </div>

                </div>
                <!-- Price End -->

                <!-- Color Start -->
                <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Filter by Category</span>
                </h5>
                <div class="bg-light p-4 mb-30">
                    <div class="d-flex align-items-center justify-content-between mb-3">
                        <select class="form-control" id="category-id-filter" name="category">
                            <option value="">Select a category</option>
                            {% for category in categories %}

                                <option value="{{ category.id }}">{{ category.title }}</option>
                            {% endfor %}
                            <!-- اضافه کردن گزینه‌های بیشتر در اینجا -->
                        </select>
                        {#                        <label class="my-2 text-primary text-danger mx-1" for="color-1">category</label>#}
                        <span class="badge border font-weight-normal text-danger mx-1">categories: {{ categories.count }}</span>
                    </div>
                </div>

                <!-- Color End -->

                <!-- Size Start -->
                <h5 class="section-title position-relative text-uppercase mb-3"><span
                        class="bg-secondary pr-3">Search</span>
                </h5>
                <div class="bg-light p-4 mb-30">
                    <div class="d-flex align-items-center justify-content-between mb-3">
                        <input type="text" id="search-query-filter" name="q" placeholder="enter for search!"
                               class="form-control">
                        {#                        <label class="my-2 mx-1 text-danger" for="size-4">Search</label>#}
                    </div>
                    <input type="submit" class="btn btn-outline-primary mr-2" value="Submit">
                    <a class="btn btn-outline-danger" href="{% url 'shop:product-list' %}">Delete Filters</a>
                </div>
                <!-- Size End -->
            </div>
            <!-- Shop Sidebar End -->


            <!-- Shop Product Start -->
            <div class="col-lg-9 col-md-8">
                <div class="row pb-3">
                    <div class="col-12 pb-1">
                        <div class="d-flex align-items-center justify-content-between mb-4">
                            <div>
                                <button class="btn btn-sm btn-light"><i class="fa fa-th-large"></i></button>
                                <button class="btn btn-sm btn-light ml-2"><i class="fa fa-bars"></i></button>
                            </div>
                            <div class="ml-2">
                                <div class="btn-group ml-2">
                                    <select class="form-control" id="page-size-filter" name="page_size">
                                        <option value="">Pagination</option>
                                        <option value="5">5</option>
                                        <option value="10">10</option>
                                        <option value="20">20</option>
                                        <option value="30">30</option>
                                    </select>
                                </div>
                                <div class="btn-group ml-2">
                                    <select class="form-control" id="order-by-filter" name="order_by">
                                        <option value="">OrderBy</option>
                                        <option value="-created_date">Latest</option>
                                        <option value="price">Best Price</option>
                                        <option value="-rates">Popularity</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    </form>
                    {% for product in object_list %}
                        <div class="col-lg-4 col-md-6 col-sm-6 pb-1">
                            <div class="product-item bg-light mb-4">
                                <div class="product-img position-relative overflow-hidden">
                                    <img class="img-fluid w-100" src="{{ product.image.url }}" alt="">
                                    <div class="product-action">
                                        {% if product.stock %}
                                        <a class="btn btn-outline-dark btn-square">

                                            <i
                                                    class="fa fa-shopping-cart"
                                                    onclick="addToCart('{{ product.id }}')"></i></a>
                                        {% else %}

                                                <p class="fa fa-shopping-cart text-danger h2">not available</p>
                                        {% endif %}
                                        <a class="btn btn-outline-dark btn-square"><i class="far fa-heart"></i></a>
                                    </div>
                                </div>
                                <div class="text-center py-4">
                                    <div class="d-flex align-items-center justify-content-center mt-2">
                                        <h5>
                                            <a href="{% url 'shop:product-list' %}?category={{ product.category.first.id }}">{{ product.category.first }}</a>
                                        </h5>
                                    </div>
                                    <a class="h6 text-decoration-none text-truncate"
                                       href="{% url 'shop:product-detail' slug=product.slug %}">{{ product.title }}</a>
                                    <div class="d-flex align-items-center justify-content-center mt-2">
                                        {% if product.is_discounted %}
                                            <h5>{{ product.get_show_price }}</h5>
                                            <h6 class="text-muted ml-2">
                                                <del>{{ product.price }}</del>
                                            </h6>
                                        {% else %}
                                            <h5>{{ product.price }}</h5>
                                        {% endif %}
                                    </div>
                                    <div class="d-flex align-items-center justify-content-center mb-1">
                                        {% ratings product %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% empty %}
                        <div class="text-danger h1 text-center col-lg-12 col-md-12 col-sm-12 pb-1">
                            no product to show!!!
                        </div>
                    {% endfor %}
                    <div class="col-12">
                        <nav>
                            {% if page_obj.has_other_pages %}
                                <ul class="pagination justify-content-center">
                                    {% if page_obj.has_previous %}
                                        <li class="page-item">
                                            <button class="page-link"
                                                    onclick="changePage(`{{ page_obj.previous_page_number }}`)">Previous
                                            </button>
                                        </li>
                                    {% endif %}

                                    {% for i in page_obj.paginator.page_range %}
                                        {% if page_obj.number == i %}
                                            <li class="page-item active"><a class="page-link">{{ i }}</a></li>
                                        {% elif i > page_obj.number|add:'-3' and i < page_obj.number|add:'3' %}
                                            <li class="page-item">
                                                <button class="page-link"
                                                        onclick="changePage(`{{ i }}`)">{{ i }}</button>
                                            </li>

                                        {% endif %}
                                    {% endfor %}
                                    {% if page_obj.has_next %}
                                        <li class="page-item">
                                            <button class="page-link"
                                                    onclick="changePage(`{{ page_obj.next_page_number }}`)">Next
                                            </button>
                                        </li>
                                    {% endif %}
                                </ul>
                            {% endif %}
                        </nav>
                    </div>
                </div>
            </div>
            <!-- Shop Product End -->
        </div>
    </div>
    <!-- Shop End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>
    {% block extra_js %}
        <script>
            $(document).ready(function () {
                let current_url_params = new URLSearchParams(window.location.search)
                $("#page-size-filter").val(current_url_params.get("page_size") || "")
                $("#order-by-filter").val(current_url_params.get("order_by") || "")
                $("#search-query-filter").val(current_url_params.get("q") || "")
                $("#min-price-filter").val(current_url_params.get("min_price") || "")
                $("#max-price-filter").val(current_url_params.get("max_price") || "")
                $("#category-id-filter").val(current_url_params.get("category") || "")

            });
            $('#page-size-filter').change(function () {
                let current_url_params = new URLSearchParams(window.location.search)
                var selectedOption = $(this).val();
                current_url_params.set("page_size", selectedOption)
                let new_url = window.location.pathname + "?" + current_url_params.toString()
                window.location.href = new_url
            });
            $('#order-by-filter').change(function () {
                let current_url_params = new URLSearchParams(window.location.search)
                var selectedOption = $(this).val();
                current_url_params.set("order_by", selectedOption)
                let new_url = window.location.pathname + "?" + current_url_params.toString()
                window.location.href = new_url
            });

            function changePage(page_number) {
                let current_url_params = new URLSearchParams(window.location.search)
                current_url_params.set("page", page_number)
                let new_url = window.location.pathname + "?" + current_url_params.toString()
                window.location.href = new_url

            }
        </script>
    {% endblock extra_js %}
{% endblock %}