{% load static %}
<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
      <li class="nav-item nav-profile">
        <a href="{% url 'dashboard:customer:home' %}" class="nav-link">
          <div class="nav-profile-image">
            {% if request.user.user_profile.image %}
            <img src="{{request.user.user_profile.image.url}}" alt="profile">
            {% else %}
            <img src="{% static 'panel/images/pic-4.png' %}" alt="profile">
            {% endif %}
            <span class="login-status online"></span>
            <!--change to offline or busy as needed-->
          </div>
          <div class="nav-profile-text d-flex flex-column">
            <span class="font-weight-bold mb-2">{{request.user.user_profile.get_fullname}}</span>
{#            <span class="text-secondary text-small">{{request.user.dormitory}}</span>#}
          </div>
          <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'dashboard:customer:security-edit' %}">
          <span class="menu-title">Security</span>
          <i class="mdi mdi-security menu-icon"></i>
        </a>
      </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'dashboard:customer:profile-edit' %}">
          <span class="menu-title">Profile</span>
          <i class="mdi mdi-face-profile menu-icon"></i>
        </a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="{% url 'dashboard:customer:address-list' %}">
          <span class="menu-title">Address List</span>
          <i class="mdi mdi-pocket menu-icon"></i>
        </a>
      </li>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'dashboard:customer:order-list' %}">
          <span class="menu-title">Order List</span>
        <i class="mdi mdi-box menu-icon"></i>
        </a>
      </li>
    </ul>
  </nav>